* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f3f5;
  color: #345;
  font-family: monospace;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 0;
}

section {
  width: calc(50% - 80px);
  display: inline-block;
  vertical-align: middle;
  margin: 40px;
}

#new-cluster {
  text-align: center;
}

#new-cluster button {
  width: 100px;
  height: 100px;
  background-color: rgba(255,255,255,1);
  font-size: 13px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.125s ease-in-out;
  box-shadow:
    inset 0 0 0 rgba(0,0,0,0.12),
    inset 0 0 0 rgba(0,0,0,0.24),
    0 6px 8px rgba(102,119,136,0.03),
    0 1px 2px rgba(102,119,136,0.3);
  padding: 2px 6px 3px;
  border-width: 0;
  border-style: none;
  border-color: none;
  border-image: none;
}

#new-cluster button:active{
  box-shadow:
    inset 0 1px 3px rgba(0,0,0,0.12),
    inset 0 1px 2px rgba(0,0,0,0.24),
    0 0px 0px rgba(102,119,136,0.03),
    0 0px 0px rgba(102,119,136,0.3);
}

#new-cluster button:hover {
  background-color: rgba(255,255,255,0.7);
}

#new-cluster button:focus{
  outline: none;
}

.cluster {
  position: relative;
  border-radius: 50%;
  border: 1px dotted grey;
}

.nodes {
  width: 100%;
  height: 100%;
}

.node-controls, .node {
  position: absolute;
}

.node-controls {
  width: 100px;
  height: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  z-index: 100;
}

.node-control {
  display: inline-block;
  height: 50%;
  width: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  background-color: rgba(255,255,255,1);
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.125s ease-in-out;
  box-shadow:
    inset 0 0 0 rgba(0,0,0,0.12),
    inset 0 0 0 rgba(0,0,0,0.24),
    0 6px 8px rgba(102,119,136,0.03),
    0 1px 2px rgba(102,119,136,0.3);
}

.node-control:active{
  box-shadow:
    inset 0 1px 3px rgba(0,0,0,0.12),
    inset 0 1px 2px rgba(0,0,0,0.24),
    0 0px 0px rgba(102,119,136,0.03),
    0 0px 0px rgba(102,119,136,0.3);
}

.node-control:hover {
  background-color: rgba(255,255,255,0.7);
}

.node-control:first-child{
  border-right: 1px solid #f1f1f1;
}

.add-node:before {
  content: "+";
}

.subtract-node:before {
  content: "-";
}

.rotate-node-cc:before {
  content: "<";
}

.rotate-node-cw:before {
  content: ">";
}

.node {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: calc(0% - 25px);
  left: calc(50% - 25px);
  transform-origin: inherit;
  text-align: center;
  box-shadow: 0 6px 8px rgba(102,119,136,0.03), 0 1px 2px rgba(102,119,136,0.3);
}

.node .label {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 13px;
}
